extends layout

block content
  h1= title

  a(href="/") Home

  if errors 
    each error in errors 
      p #{error}

  form(action="/signup", method="post")
    label(for="email") Email:
    input(type="text",id="email",name="email",required)

    br

    label(for="password") Password:
    input(type="password",id="password",name="password",minlength="8",maxlength="20",required)  

    br

    label(for="confirmPassword") Confirm Password: 
    input(type="password",id="confirmPassword",name="confirmPassword",minlength="8",maxlength="20",required)  

    br

    label(for="fullName") Full Name:
    input(type="text",id="fullName",name="fullName",minlength="3", required)  

    br

    button(type="submit") Join the Club.